.firstDiv{
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 0px;
    position: absolute;
    top:200px;
    left:200px;
}
.secondDiv{
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 0px;
    position: absolute;
    top:450px;
    left:400px;
}
.thirdDiv{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 0px;
    position: absolute;
    top:450px;
    left:400px;
}